src/main/default/flows/Modify_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetCaseValues</name>
        <label>SetCaseValues</label>
        <locationX>513</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>theCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Modify Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modify Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>164</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>theCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>714</locationX>
        <locationY>51</locationY>
        <inputReference>theCase</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>318</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetCaseValues</targetReference>
        </connector>
        <fields>
            <name>Case_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theCase.Subject</elementReference>
            </defaultValue>
            <fieldText>Case Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theCase.Description</elementReference>
            </defaultValue>
            <fieldText>Case Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>theCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
